.m{
    width:990px;
    margin-bottom: 0px;
}

.m-1{
    background: #1f8ac6;
    height: 10px;
    margin-bottom: 0px;
}
.m-menu{
    font-weight: 1px;
    letter-spacing: 1px;
    text-align: center;/*居中*/
    font-size: 15px;
}

.m-menu1{
    padding: 12px 20px;
    color: white;
    background: #1f8ac6;
    width:50px;
    border-radius: 3px  3px 0 0;/*四周弧形*/
    margin-bottom: 0px;
    height: 25px;
    line-height:2.3em;/*行高 */
}
.m-men1>span{
    padding: 0px;
}
.m-menu2{
    padding: 6px 12px;
    color: white;
    letter-spacing: 1px;
    background: #fd6710;
    width:12px;
    border-radius: 3px 3px 3px 3px;
}

.m-menu3{
    float:right;/*右对齐*/
    padding: 8px 8px;
    color: #002cbd;
    background: #f3f3f3;
    border-radius: 3px 3px 3px 3px;
    width:78px;
}

.m-in{
    background: #f3f3f3;
    height: 90px;
    padding:0 0 0 0;
    margin: 0 0 0 0;
}

.m-in1{
    padding:10px 10px 0 15px;
    font-size: 20px;
    width: 200px;
    color: red;
    letter-spacing: 1px;
}

.m-in2{
    padding: 10px 0 0 0;
    font-size: 18px;
    width: 36px;
    margin-right: 0px;
}

.m-in3{
    padding: 0 0 0 10px;
    font-size: 18px;
    width: 72px;
    margin-left: 0;
}

.m-in4{
    padding: 0 0 0 0;
    font-size: 18px;
    width: 105px;
    color: red;
    margin-left: 0;
}

.m-in5{
    padding: 0 0 0 0;
    font-size: 18px;
    width: 105px;
    margin-left: 0;
    font-weight: bolder;/*加粗*/
}

.m-in6{
    padding: 0 0 0 10px;
    font-size: 18px;
    width: 36px;
    margin-left: 0;
}

.m-pr{
    background: #fffbde;
    height: 40px;
}

.m-pr1{
    font-size: 20px;
    line-height:2.5em;
    float:right;
    color: #002cbd;
    text-decoration: underline;/*下划线*/
}

.menu{
    height: 25px;
    padding: 0 0 0 0 ;
    margin: 0 0 0 0;
}

.menu>span{
    text-align: center;
    color: #607a90;
    font-size: 18px;
    border: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.menu0{
  width: 8px;
  height: 25px;
  background: #ffffff ; 
}


.menu1{
    width:598px;
    background: #cedce8;
}

.menu2{
    background: #cedce8;
}
.menu3{
    background: #cedce8;
}

.m-car1{
    background: #f2f2f2;
    height: 60px;
    padding: 0 0 0 0 ;
    margin: 0 0 0 0 ;
}

.m-car-1{
    font-size: 25px;
    margin: 13px 0 0 120px;
}

.m-car-2{
    float:right;
    font-size: 20px;
    color: #002cbd;
    line-height:2.8em;
    text-decoration: underline;
}

.m-bus1{
    height: 75px;
    background: #ffffff;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.m-time{
    text-align: center;
    font-size: 20px;
}

.m-time1{
    font-weight: bolder;
}

.m-bus0{
    background: #cedce8;
    width: 3px;
    height: 75px;
}

.m-bus-2{
    color: #996600;
    font-size: 20px;
    text-align: center;
    line-height:3.3em;
}

.m-bus-3{
    color: #0069a3;
    font-size: 20px;
    width: 325px;
}

.m-bus0-0{
    background: #cdcdcd;
    width: 3px;
    height: 75px;
}

.m-bus-4{
    width: 98px;
    font-size: 20px;
    text-align: center;
}

.m-bus-5{
    width: 50px;
    font-size: 20px;
    text-align: center;
}

.m-line{
    height: 2px;
    background: #cdcdcd;
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
}

.m-car2{
    height: 70px;
    background: #f2f2f2;
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
}

.m-car2-1{
    line-height:3.3em;
    font-size: 20px;
    text-align: center;
    width: 142px;
}

.m-car2-2{
    line-height:2.6em;
    font-size: 25px;
}

.m-car2-3{
    text-align: center;
    font-size: 18px;
    line-height: 3.3em;
}

.m-car2-4{
    font-size: 20px;
    color: #002cbd;
    width: 220px;
}

.m-car2-4>span{
    margin: 0 5px 0 0;
    float:right;
    text-decoration: underline; 
}

.m-train1{
    width: 325px;
}
.m-train{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 75px;
}

.m-train-1{
    color: #0069a3;
    font-size: 18px;
    width: 325px;
}

.m-train-2{
    color: white;
    font-size: 15px;
    width: 80px;
    background: #034896;
    text-align: center;
    border-radius: 3px  3px 3px 3px;
    margin: 0 0 0 0;
}

.m-train-3{
    width: 50px;
    font-size: 15px;
    text-align: left;
    line-height: 5.2em;
}
.m-car3-1{
    font-size: 25px;
    text-align: center;
    width: 355px;
    line-height: 2.6em;
}
.m-car3-0{
    width: 40px;
    height: 60px;
}

.m-car3-2{
    width:330px ;
    line-height:3.3em;
    font-size: 18px;
    text-align: right;
}